<header class="navbar navbar-expand-lg navbar-light header">
  <img src="https://image.flaticon.com/icons/svg/235/235063.svg" alt="walrus" class="img-header">

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <span class="icon-title">Walrus</span>
    <form class="form-inline search" method="GET" action="/resources/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="myQuery">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <nav>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/resources">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/id/my_resources">My resources </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/id">Profile</a>
            <div class="dropdown-divider"></div>
            <form method="POST" action="/logout">
              <input type="submit" value="logout" class="dropdown-item">
            </form>
          </div>
        </li>
      </ul>

    </nav>
</div>
<div class="space"></div>
</header>


<!-- <a class="dropdown-item" href="/logout">Logout</a> -->