<% include ./partials/_head %>

<body>
  <% include ./partials/_header %>
  <main id="my-resources">
    <h1>My resources</h1>




    <!-- our resources cards section -->

    <%const matchTopic = topic_id_in_resources => Object.values(topics).find(topicsObjFromDb => topicsObjFromDb.id === topic_id_in_resources);%>



    <div class="card-container">
      <% for (var resource of resources) { %>
      <section>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= matchTopic(resource.topic_id).default_img; %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= resource.title %></h5>
            <p class="card-text"><%= resource.description %></p>
            <a href="<%= resource.url %>" class="btn btn-primary">Check it out!</a>
          </div>
        </div>
      </section>
      <%  }  %>
    </div>
  </main>
  <% include ./partials/_footer %>

</body>

</html>
