<% include ./partials/_head %>

<body>
  <% include ./partials/_header %>
  <main>
    <h1></h1>




    <!-- our resources cards section -->
    <div class="card-container">
      <% for (let i = 0; i < 8; i++) {%>
      <section>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://placekitten.com/640/360" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </section>
      <%  }  %>
    </div>
  </main>

</body>

</html>
