<% include ./partials/_head %>

<body>
  <% include ./partials/_header %>
  <main id="one-resource">
    <h1>ONE RESOURCE</h1>

    <img src="http://placekitten.com/635/367" alt="">
    <h2></h2>
    <div>
      <a href="http://placekitten.com/635/367">http://placekitten.com/635/367</a>
    </div>
    <div>
      <p>Decription</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur aspernatur corporis quibusdam officia atque. Expedita exercitationem laboriosam soluta explicabo? Minus asperiores optio deleniti nobis est, voluptatum tempore voluptas? Aliquam, aliquid!</p>
    </div>
    
  </main>
</body>

</html>