<% include ./partials/_head %>
  <body>
     <% include ./partials/_header %>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <div class="profilecard">
       <div class = "information">
       <img src="<%= userinfo.user_img %>">
       <p class="username"><%= userinfo.username %></p>
       <p class="email"><p>Your Email: <%= userinfo.email %></p>
       <p class="password">Your Password: <%= userinfo.password %></p>
       <div class = "redirect">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a> 
          <a href="#"><i class="fa fa-linkedin"></i></a> 
          <a href="#"><i class="fa fa-facebook"></i></a> 
         </div>
      </div>
     </div>

    <section>
      <form class="form-group" action="/user/id" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Update Username:</label>
          <input class="form-control" type="text" name="username" placeholder="Enter your username" style="width: 300px; margin: 1em">
          <label for="longURL">Update Email:</label>
          <input class="form-control" type="text" name="email" placeholder="Enter your email" style="width: 300px; margin: 1em">
          <label for="longURL">Update Password:</label>
          <input class="form-control" type="text" name="password" placeholder="Enter your password" style="width: 300px; margin: 1em">
          <label for="longURL">Update Avatar:</label>
          <input class="form-control" type="text" name="avatar" placeholder="Enter your avatar url" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </section>
  </body>
</html>
