<% include ./partials/_head %>

  <body>
     <% include ./partials/_header %>
    <h1>Profile</h1>
    <ul>
    <% for (var user of users) {%>
      <li><%= user.name %></li>
    <% } %>
    </ul>
  </body>
</html>
