<% include ./partials/_head %>

<body>
  <% include ./partials/_header %>
  <main id="login">
    <nav> <a href="/login">LOGIN | </a><a href="/register">&nbsp;Register </a></nav>

    <form class="form" action="/register" method="POST">
      <h2>Register</h2>
      <div class="form-group mb-2">
        <label for="email">Name:</label>
        <input class="form-control" type="text" name="username" placeholder="Name or username">
        <label for="email">Email:</label>
        <input class="form-control" type="text" name="email" placeholder="xxxxxxx@xxx.xxx">
        <label for="password">Password:</label>
        <input class="form-control" type="text" name="password" placeholder="*******">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>

  </main>
</body>

</html>