#openning {
    display: none;
}
#openForm {
    float: right;
}

.form-adding {
  padding: 0px 4em;
  border-bottom: 1px solid $dark-grey;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
