.profilecard {
    display: flex;
    justify-content: center;
    border: solid 1px red;
  }

img {
    align-items: center;
    border-radius: 70px;
}
.information {
    align-items: center;
}

.redirect{
    align-items: center;
}

i {
    align-items: bottom;
}

form{
    align-items: center;
}
