#profile .profilecard {
    display: flex;
    justify-content: center;
  }

#profile .information img {
    align-items: center;
    border-radius: 70px;
    margin-top: 1em;
}
#profile .information {
    align-items: center;
}

#profile .redirect{
    align-items: center;
}

#profile i {
    align-items: bottom;
}

#profile .profileform {
    display: flex;
    justify-content: center;
}

#profile label {
    display: inline-block;
    margin: 1em;
    margin-bottom: 0px;
}

#profile .form-control {
    display: block;
    padding: .375rem .75rem;
    margin-top: 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

