section {
  .card {
    margin: 1em;
    border-radius: $radius;
    .card-img-top{
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
    }

    .card-body{
      padding-top: .8em;
    }
    form{
      padding-top: .5em;
    }

  }

}
