header {
  background: $color1;

  .icon-title {
    font-size: 6em;
    font-family: "Indie Flower", cursive;
    color: $color5;
    margin: 0 0.5em;
  }
  .navbar-collapse {
    flex-direction: column;
  }

  .img-header{
    min-width: 300px;
  }
  div.space{
    min-width: 300px;
  }
}

.navbar-nav {
  .dropdown-menu {
    margin-left: -3em;
    min-width: inherit;
    a {
      &:hover {
        background-color: $color1 !important;
      }
    }
    input {
      &:hover {
        background-color: $color1 !important;
      }
    }
  }

  i {
    font-size: 1.4em;
  }
}
/* .search {
  display: flex;
  width: 100%;
} */
