header { 
 background: $color1;


 
  .icon-title {
    font-size: 6em;
    font-family: 'Indie Flower', cursive;
    color: $color5;
    margin: 0 0.5em;
  }
  .navbar-collapse{
    flex-direction: column;
  }
}

.navbar-nav {
  .dropdown-menu {
    margin-left: -3em;
    min-width: inherit;
  }

 
}
/* .search {
  display: flex;
  width: 100%;
} */
