.header {
  i {
    font-size: 1.6em;
    .icon-logo {
      color: $dark-grey;
    }
  }

  .icon-title {
    color: $dark-grey;
    margin: 0 0.5em;
    font-size: 1.6em;
  }
}

.navbar-nav {
  .dropdown-menu {
    margin-left: -3em;
    min-width: inherit;
  }
}
