@import "views/index.scss";
@import "modules/nav.scss";
@import "modules/form.scss";
@import "modules/card.scss";

/* $dark-grey: #656565; */

body {
  font-family: 'Raleway', sans-serif;
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  main{
    

  }
}

#login{
    margin: 2em auto;
    max-width: 500px;
    width: 100%;

    nav{
      font-size: 2em;
      display: flex;
    }

  form{
    border: 1px solid #000;
    background: white;
    padding: 2em;
    border-radius: 15px;

    input{
      margin-bottom: 1em;
    }
  }

}
