body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#login{
  main{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  div{
    border: 1px solid #000;
    background: red;
    padding: 2em;
  }
}
