// -----  Variable ------//
$primary: #daebe8;
$dark-grey: #87bdd8;

$color1: #cfe0e8;
$color2: #b7d7e8;
$color3: #87bdd8;

$color4: #daebe8;
$color5: #154e6b;


/*$yellow: #D79922;
$grey: #EFE2BA;
$red: #F13C20;
$dark-blue: #4056A1;
$light-blue: #C5CBE3;*/

$radius: 30px;

// ------ breakpoint  ----//

$breakpoint-medium: 1280px;

// -----  Import ------//
@import "views/index.scss";
@import "views/one_resource.scss";
@import "views/profile.scss";
@import "views/my_resources.scss";
@import "modules/rating.scss";
@import "modules/header.scss";
@import "modules/form.scss";
@import "modules/card.scss";
@import "modules/footer.scss";


// ----- Globale -----//
body {
  font-size: 18px!important;
  font-family: "Raleway", sans-serif;
  background-color: $dark-grey;
  /* color: $color5!important; */

  h1 {
    color: #244751;
  }

  button {
    &.btn {
      border: 2px solid $color4;
      border-radius: $radius;
      color: $color5;
      background: #fff;
      margin-left: 0.4em;

      &:hover{
        color: #fff!important;
        background: $color3!important;
      }
    }
  }
}
/* @@@ a fixer */
a {
  &.btn {
    border: 2px solid $color4;
    border-radius: $radius;
    color: $color5;
    background: #fff;
    margin-left: 0.4em;

    &:hover{
      color: #fff!important;
      background: $color3!important;
    }
  }
  
}

main{
  min-height: 100vh;
}

#login {
  margin: 2em auto;
  max-width: 500px;
  width: 100%;

  nav {
    font-size: 2em;
    display: flex;
  }

  form {
    border: 1px solid #000;
    background: white;
    padding: 2em;
    border-radius: 15px;

    input {
      margin-bottom: 1em;
    }
  }
}
